[Unit]
Description=Check is DNS is Available
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh /home/pi/check.sh
KillMode=process
RemainAfterExit=true

[Installed]
WantedBy=network-online.target